body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h{
    font-size: 50px;
}

.orange-color {
    color: orange;
    
}

section{
    display: flex;
}

.half-width{
    width: 60%;  
    padding: 5%;
}
.half-width img{

    width: 70%;
    

}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700px;
    border-radius: 5px;

}

.link-button2{
    text-decoration: none;
    font-weight: 700px;
    color:white;
    background-image: linear-gradient(orange , tomato);
    padding: 10px 40px;
    border-radius: 5px;


}
#paddingright{
    padding-right: 40px ;
}
.top-banner{
    background-image: url(images/top-banner.png) ;
    background-repeat: no-repeat;
}
.top-banner2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.flexible-container{
    display: flex;
    margin-bottom: 150px;

}
